<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhoneBook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22D48DCE1B95D9F7000DEC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D48DE21B95D9F7000DEC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22D48DED1B95D9F7000DEC58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
